
{{#each speciesItems}}
{{species_id}} - {{common_name}} - {{botanical_name}}<br />
{{/each}}

<form id="edit-plant-form">
    <input type="hidden" name="plant_id" value="{{post.plant_id}}" />
    <div>
        <label class="form-label" for="plant_identifier">Short name for your plant (100 chars)</label>
        <input type="text" name="plant_identifier" value="{{post.identifier}}" autofocus maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="plant_species_id">Species</label>
        <select name="plant_species_id">
            {{!-- need to figure out how to populate the dropdown and have the appropriate option selected --}}
            <option value="1">TEMP HARD CODED : {{common_name}} - {{botanical_name}}</option>
            {{!-- {{#each posts}}
                <option value="{{species_id}}">{{common_name}} - {{botanical_name}}</option>
            {{/each}} --}}
        </select>
    </div>
    <div>
        <label class="form-label" for="plant_acquired_date">Acquired Date</label>
        <input type="date" name="plant_acquired_date" value="{{format_date post.acquired_date}}"  placeholder="dd/mm/yyyy" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" required />
    </div>
    <div>
        <label class="form-label" for="plant_acquired_source">Acquired Source</label>
        <input type="text" name="plant_acquired_source" value="{{post.acquired_source}}" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="plant_acquired_origin">Acquired Origin</label>
        <input type="text" name="plant_acquired_origin" value="{{post.acquired_origin}}" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="plant-acquired_width">Width of plant when acquired (in inches)</label>
        <input type="number" name="plant_acquired_width" value="{{post.acquired_width}}" />
    </div>
    <div>
        <label class="form-label" for="plant_acquired_height">Height of plant when acquired (in inches)</label>
        <input type="number" name="plant_acquired_height" value="{{post.acquired_height}}" />
    </div>
    <div>
        <label class="form-label" for="plant_acquired_additional_info">Additional Info</label>
        <textarea name="plant_acquired_additional_info" maxlength="500" required>{{post.acquired_additional_info}}</textarea>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>

</form>

<script src="/javascript/edit-plant.js"></script>